# Database
POSTGRES_USER=sentinel
POSTGRES_PASSWORD=sentinel123
POSTGRES_DB=sentinelph

# PgAdmin
PGADMIN_EMAIL=admin@sentinel.dev
PGADMIN_PASSWORD=admin123

# Frontend
FRONTEND_URL=http://localhost:3000
